<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Cataka's Personal Site</title>
        <!-- CSS to adopt the whole hr element with color in index.html as the internal css
        <style>
        </style> -->
        <!-- CSS to refer to the external css files here -->
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <table cellspacint="20">
            <tr>
                <td><img src="./images/IMG_0232.png" alt="Takamitsu profile picture"></td>
                <td><h1>Cataka</h1><p><em>Infrastructure Engineer and beginner for <strong> front-end development.</strong></em></p>
                <p>I am a Cloud Engineer to utilize Amazon Web Service. I love traveling.</p>
                </td>
            </tr>
        </table>
       <hr>
       <h3>Education</h3>
       <ul>
        <li>Chuo Univerisity (Japan)</li>
        <li>KU Leuven (Belgium)</li>
       </ul>
       <hr>
       <!-- Creating Table Here -->
       <h3>Work Experience</h3>
       <table cellspacing="10">
        <thead>
            <tr>
                <th>Dates</th>
                <th>Work</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>2010-2013</td>
            <td>Lead Developer at Tempo App</td>
        </tr>
        <tr>
            <td>2010</td>
            <td>Researcher at the The insittute of Cognitive Neurosciences</td>
        </tr>
        </tbody>
        <tfoot>

        </tfoot>
       </table>
       <hr>
       <!-- Creating Table Division -->
       <h3>Skills</h3>
       <table cellspacing="20">
        <tr>
            <td>AWS</td>
            <td>⭐️️️️⭐️️️⭐️️️️⭐️️️⭐️️️️</td>
        </tr>
        <tr>
            <td>Python</td>
            <td>️️️️⭐️️️⭐️️️️⭐️️️⭐️️️️</td>
        </tr>
        <tr>
            <td>Web Development</td>
            <td>️️️️️️️️️⭐️️️⭐️️️️</td>
        </tr>
        <tr>
            <td>Practicing Front-end Development</td>
            <td>⭐️️️️️️️️️⭐️️️⭐️️️️</td>
        </tr>
       </table>
       <hr>
       <a href="hobby.html">My hobbies</a><br>
       <a href="contact-me.html">Contact form</a><br>
       <hr>
       <!-- <ul>
        <li><a href="https://www.facebook.com/profile.php?id=100009773325373">Facebook</a></li>
        <li><a href="https://www.linkedin.com/in/takamitsu-abe/">LinkedIn</a></li>
       </ul> -->
        <h3>Other Learning Materials</h3>
        <ul>
        <li><a href="inputs.html">HTML inputs practice</a></li>
            <li><a href="./others/css_bacon_fansite/index.html">bacon html</a></li>
            <li><a href="./others/practice/level1.html">HTML&CSS Practice Copyright</a></li>
            <li><a href="others/css_mysite/index.html">CSS Practicehttps://media0.giphy.com/media/26n7b7PjSOZJwVCmY/giphy.gif?cid=ecf05e47s9xpsqmghghkebfih8biolxn23htp58mjzbnc99t&rid=giphy.gif&ct=g</a></li>
        </ul>
        

    </body>
</html>